#container {
    width: 80vw;
    height: 80vh;
} 

#clear {
    margin: 15px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: #6E6E6E;
    font-size: 16px;
}

#clear:hover {
    border: 1px solid #6E6E6E;
    color: black;
    background: #ECECEC;
    box-shadow: 2px 3px 5px #6E6E6E;
}

#rainbow {
    margin: 15px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
    font-size: 16px;
    opacity: 0.8;
}

#rainbow:hover {
    border: 1px solid #6E6E6E;
    color: black;
    box-shadow: 2px 3px 5px #6E6E6E;
    opacity: 1;
}

#classic {
    margin: 15px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background: blue;
    font-size: 16px;
}

#classic:hover {
    border: 1px solid black;
    color: black;
    box-shadow: 2px 3px 5px #6E6E6E;
}

.changeBackground {
    background: blue;
}

.grid {
    margin-left: auto;
    margin-right: auto;
}