@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700&display=swap');

body {
    width: 98vw;
    height: auto;
} 

.title {
    font-family: "Cabin Sketch";
    text-align: center;
    font-size: 54px;
    padding: 0;
    margin: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
}

#clear {
    margin: 15px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: #6E6E6E;
    font-weight: bold;
    font-size: 16px;
}

#clear:hover {
    border: 1px solid #6E6E6E;
    color: black;
    background: #ECECEC;
    box-shadow: 2px 3px 5px #6E6E6E;
}

#rainbow {
    margin: 15px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
    font-size: 16px;
}

#rainbow:hover {
    border: 1px solid #6E6E6E;
    color: black;
    box-shadow: 2px 3px 5px #6E6E6E;
}

#classic {
    margin: 15px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: white;
    background: blue;
    font-size: 16px;
    font-weight: bold;
}

#classic:hover {
    border: 1px solid black;
    color: black;
    box-shadow: 2px 3px 5px #6E6E6E;
}

.changeBackground {
    background: rgb(0, 0, 255);
}

.grid {
    margin-left: auto;
    margin-right: auto;
}